body {
    background-color: rgb(30, 30, 30) !important;
}

.step {
    width: 60px !important;
}

.transport {
    background-color: rgb(30, 30, 30) !important;
}

.hrlight {
    border-top: 1px solid rgb(255, 255, 255);
}

.tempo {
    height: 30px !important;
    width: 80px !important;
}